:root{
	--ratio_1920: calc(1920/1900);
	--ratio_1366: calc(1366/1900);
	--primary: #023a5c;
	--secondary: #7a9aa9;
}
@font-face {
	font-family: "Roboto";
	src: url("./fonts/roboto-light-webfont.woff2");
}
@media only screen and (width: 1366px){
	.wrapper{
		max-width: calc(1000px*var(--ratio_1366));
	}
	nav{
		width: calc((1000px - 262px)*var(--ratio_1366));
	}
	#navbar-logo{
		width: calc(262px*var(--ratio_1366));
	}
	.menu, #sidebar-menu-title{
		font-size: 14px;
	}
	#navbar-search{
		margin-right: calc(22px*var(--ratio_1366));
	}
	.navbar-search-input-active{
		width: calc(177px*var(--ratio_1366))!important;
	}
	.sidebar-wrapper{
		width: calc((100% - 1000px*var(--ratio_1366))/4);
	}
	.sidebar-wrapper-hidden{
		transform: translateX(-75%) !important;
	}
	.sidebar-menu-links-div{
		width: calc(104px*var(--ratio_1366));
	}
	#sidebar-menu-tool{
		left: calc(100% - 35px*var(--ratio_1366));
		width: calc(15px*var(--ratio_1366));
	}
	#main-container-title > p{
		padding-left: calc(20px*var(--ratio_1366));
		font-size: 20px;
	}
	#main-container-title > img{
		width: calc(82px*var(--ratio_1366));
	}
	#main-container-content{
		font-size: 12.5px;
	}
	#main-container-content > section{
		column-gap: calc(38px*var(--ratio_1366));
		height: 730px;
	}
	#main-container-content > section > img{
		width: calc(481px*var(--ratio_1366));
	}
}
@media only screen and (width: 1920px){
	.wrapper{
		max-width: calc(1000px*var(--ratio_1920));
	}
	nav{
		width: calc((1000px - 262px)*var(--ratio_1920));
	}
	#navbar-logo{
		width: calc(262px*var(--ratio_1920));
	}
	.menu, #sidebar-menu-title, #main-container-content{
		font-size: 20px;
	}
	#navbar-search{
		margin-right: calc(22px*var(--ratio_1920));
	}
	.navbar-search-input-active{
		width: calc(177px*var(--ratio_1920))!important;
	}
	.sidebar-wrapper{
		width: calc((100% - 1000px*var(--ratio_1920))/4);
	}
	.sidebar-wrapper-hidden{
		transform: translateX(-75%) !important;
	}
	.sidebar-menu-links-div{
		width: calc(104px*var(--ratio_1920));
	}
	#sidebar-menu-tool{
		left: calc(100% - 35px*var(--ratio_1920));
		width: calc(15px*var(--ratio_1920));
	}
	#main-container-title > p{
		margin-left: calc(20px*var(--ratio_1920));
		font-size: 25px;
	}
	#main-container-title > img{
		width: calc(82px*var(--ratio_1920));
	}
	#main-container-content{
		font-size: 17px;
	}
	#main-container-content > section{
		column-gap: calc(38px*var(--ratio_1920));
		height: 980px;
	}
	#main-container-content > section > img{
		width: calc(481px*var(--ratio_1920));
	}
}
html{
	font-family: "Roboto";
}
body{
	margin: 0;
}
header{
	background-color: var(--primary);
	height: 88px;
}
.wrapper{
	margin: 0 auto;
}
#navbar-logo{
	float: left;
	height: auto;
}
nav{
	float: left;
}
.navbar{
	padding-top: 37px;
	height: 32px;
	vertical-align: middle;
}
.menu{
	list-style: none;
	text-decoration: none;
	margin-top: 0px;
}
nav > ul{
	display: flex;
	justify-content: space-between;
	padding-top: 2px;
}
nav > .menu > li:nth-child(n){
	display: inline-block;
}
.menu > li:nth-child(n) > a{
	color: white;
	text-decoration: none;
}
#navbar-search{
	float: right;
}
#navbar-search-input{
	float: left;
	height: 31px;
	margin-right: 10px;
	color: white;
	padding: 0px;
	background-color: var(--secondary);
	width: 0px;
	transition: width 0.5s ease;
}
.navbar-search-input-active{
	padding-left: 10px!important;
}
#navbar-search-input, #navbar-search-input:focus-visible{
	border: none;
	outline: none;
}
#navbar-search-btn{
	width: 31px;
	height: 32px;
	background-image: url("images/navbar-search-img.png");
	background-color: transparent;
	border: none;
	float: left;
	cursor: pointer;
}
.sidebar-wrapper{
	position: fixed;
	transition: transform 0.5s ease;
}
#sidebar-menu-bg{
	box-shadow: 0 0 0.7em rgb(185, 185, 185);
	z-index: -1;
	height: 100%;
}
#sidebar-menu{
	height: 100%;
	padding: 0px;
}
#sidebar-menu-content{
	margin: 0 auto;
	width: 50%;
	position: absolute;
	top: calc(50% - 88px);
	left: 50%;
	transform: translate(-50%,-50%);
}
#sidebar-menu-content > div:nth-child(n) > ul{
	padding-left: 0px;
}
#sidebar-menu-title, .sidebar-menu-links-div > .menu > li:nth-child(n) > a, #main-container-title > p{
	color: var(--primary);
}
.sidebar-menu-links-div > .menu{
	padding: 20px 0px 20px 0px;
	border-top: 2px dotted var(--secondary);
	margin-bottom: 0px;
}
.sidebar-menu-links-div > .menu > li:nth-child(n) > a{
	padding-left: 0px;
	line-height: 1.5;
}
#sidebar-menu-tool{
	height: 19px;
	background-image: url("images/sidebar-menu-arrow.png");
	opacity: 0.5;
	background-repeat: no-repeat;
	cursor: pointer;
	position: absolute;
	top: calc(50% - 100px);
	transition: transform 0.5s ease;
	transform: translateY(50%);
}
.sidebar-menu-tool-active{
	opacity: 1!important;
	transform: rotate(180deg) translateY(calc(-50%))!important;
	transform-origin: center center!important;
}
#main-container{
	clear: both;
}
#main-container-title{
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 43px;
}
#main-container-title > p{
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
#main-container-title > img{
	height: auto;
}
#main-container-content{
	padding-top: 55px;
	border-top: 2px dotted var(--secondary);
}
#main-container-content > section{
	column-count: 2;
	text-align: justify;
	column-fill: auto;
	margin-bottom: 80px;
	word-break: keep-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
#main-container-content > section > img{
	height: auto;
}
#main-container-content > section > p:nth-child(n){
	margin-bottom: 0;
	text-transform: uppercase;
}
footer{
	height: 68px;
	background-color: var(--primary)
}